html {
    overflow-y: scroll;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    /*border: 1px solid black;*/
    font-family: serif;
}

body {
    text-rendering: optimizeLegibility;
    margin: auto;
    max-width: 700px;
}

h1, h2, p, ol, ul {
    margin: 5px;
}

iframe {
    width: 100%;
    height: 400px;
    max-width: 700px;
    max-height: 700px;
    min-height: 200px;
}

header {
    font-size: 20px;
}

header > nav {
    float: right;
    font-size: 20px;
}

footer {
    font-style: italic;
}

footer > nav {
    text-align: center;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page-home {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

#page-home img {
    max-width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 24px;
}
